<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
</head>

<body class="flex flex-col min-h-screen font-sans text-base antialiased text-gray-800 bg-gray-100">
    <header>
        <div class="flex items-center justify-between max-w-screen-lg px-4 pt-8 mx-auto sm:px-6 lg:px-8">
            <div>
                <a class="text-lg font-light tracking-tight sm:text-2xl text-primary-700" href="/">
                    Kamau <span class="font-semibold">Wanyee</span>
                </a>
            </div>
            <nav class="sm:text-lg">
                <a class="transition text-primary-700 hover:text-primary-600" href="/articles">Articles</a>
            </nav>
        </div>
    </header>

    <main class="flex-1">
        {{ template_content }}
    </main>

    <script src="{{ mix src='/js/site.js' }}"></script>
</body>

</html>
