<div class="px-4 pb-20 mt-14 sm:px-6 lg:px-8">
    <div class="space-y-3">
        <p class="text-center text-gray-600">{{ date }}</p>
        <h2 class="text-3xl font-extrabold leading-8 tracking-tight text-center text-gray-900 sm:text-4xl">
            {{ title }}
        </h2>
        <div class="flex flex-wrap items-center justify-center max-w-lg mx-auto space-x-3">
            {{ tags }}
                <p class="font-semibold text-primary-600">#{{ title }}</p>
            {{ /tags }}

        </div>
    </div>

    <div class="mt-10 prose prose-primary xl:prose-lg">
        {{ content }}
    </div>
</div>
